{% extends 'base.html' %}

{% block title %}Panel Administrativo - Estacionamiento{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center mb-4" style="color: #00bcd4;">Bienvenido, {{ current_user.email }}</h2>

    <!-- Estadísticas de Estacionamiento -->
    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="card shadow-lg" style="background-color: #2c2c2c; border: none;">
                <div class="card-body">
                    <h5 class="card-title" style="color: #ffffff;">Estadísticas de Estacionamiento</h5>
                    <ul style="color: #e0e0e0;">
                        <li>Total de Usuarios: {{ total_users }}</li>
                        <li>Total de Autos: {{ total_cars }}</li>
                    </ul>
                    
                    <a href="{{ url_for('main.users') }}" class="btn btn-primary" style="background-color: #00bcd4; border: none;">Ver Usuarios</a>
                </div>
            </div>
        </div>

        <!-- Administración de Reservas -->
        <div class="col-md-4 mb-3">
            <div class="card shadow-lg" style="background-color: #2c2c2c; border: none;">
                <div class="card-body">
                    <h5 class="card-title" style="color: #ffffff;">Administración de Reservas</h5>
                    <p style="color: #e0e0e0;">Gestiona las reservas de los usuarios, puedes ver los detalles de las reservas, modificarlas o cancelarlas.</p>
                    <ul style="color: #e0e0e0;">
                        <li>Total de Espacios: {{ total_spots }}</li>
                        <li>Espacios Disponibles: {{ total_spots_available }}</li>
                        <li>Espacios Reservados: {{ total_spots_reserved }}</li>
                        <li>Espacios Ocupados: {{ total_spots_ccupied }}</li>
                    </ul>
                    
                    <a href="{{ url_for('main.view_reservations') }}" class="btn btn-primary" style="background-color: #00bcd4; border: none;">Ver Reservas</a>
                    <a href="{{ url_for('main.view_spots') }}" class="btn btn-secondary ml-2" style="background-color: #444; border: none;">Ver Espacios</a>

                </div>
            </div>
        </div>

        <!-- Usuarios Registrados -->
        <div class="col-md-4 mb-3">
            <div class="card shadow-lg" style="background-color: #2c2c2c; border: none;">
                <div class="card-body">
                    <h5 class="card-title" style="color: #ffffff;">Usuarios Registrados</h5>
                    <p style="color: #e0e0e0;">Administra los usuarios del sistema y administradores del sistema.</p>
                    
                    <a href="{{ url_for('main.register') }}" class="btn btn-primary" style="background-color: #00bcd4; border: none;">Registrar nuevo administrador</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Acciones rápidas -->
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card shadow-lg" style="background-color: #2c2c2c; border: none;">
                <div class="card-body">
                    <h5 class="card-title" style="color: #ffffff;">Acciones rápidas</h5>
                    <ul style="color: #e0e0e0;">
                        <li><a href="{{ url_for('main.add_spot') }}" class="btn btn-link" style="color: #00bcd4;">Añadir espacio de estacionamiento</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
